
@mixin elasticnavtabs($numbers){

  .elastic-navtabs{
    position: relative;

    .nav{
      @include flexbox-display-flex();
      @include flexbox-flex-wrap(wrap);
      position: relative;

      > *{
        @include flexbox-flex(0 0 calc(100% / #{$numbers}));
        max-width: calc((100% / #{$numbers}));
        position: relative;
        z-index: 1;
      }

      &-radio{
        position: absolute;
        z-index: -1;

        &:checked {
          + .nav-item .nav-link{
            //color: red;
          }
        }

        @if $numbers{
          @for $i from 1 through $numbers {
            &:nth-of-type(#{$i}){
              &:checked{
                ~ .nav-bottombar {
                  left: calc((100% / #{$numbers}) * #{$i - 1});
                }
              }
            }
          }
        }

        &:first-of-type {
          &:checked {
            ~ .nav-bottombar {
              left: 0;
            }
          }
        }
      }

      &-link{
        color: $site-font-clr-pri;
        font-family: $site-font-family-gilroy-semibold;
        cursor: pointer;
        text-align: center;
      }

      &-bottombar {
        background-color: $primary;
        width: calc(100% / #{$numbers});
        height: 2px;
        position: absolute;
        left: 0;
        top: calc(100% - 2px);
        @include transition-multiple(left 0.3s ease-out);
        z-index: 0;
      }

      &.nav-pills{
        background-color: $gray-400;
        @include border-radius($border-radius * 1.125);

        .nav-bottombar{
          background-color: $white;
          width: calc(calc(100% / #{$numbers}) - 4px);
          height: calc(100% - 8px);
          top: 4px;
          @include border-radius($border-radius);
        }

        .nav-radio:first-of-type:checked ~ .nav-bottombar{
          left: 4px;
        }
      }

    }

  }
}