
/* Site Main Path Settings */
$cache-busting:                     #{'?v='} + unique_id();
$path-assets-url:                   "../../../assets";
$path-fonts-url:                    "#{$path-assets-url}/fonts";
$path-img-url:                      "#{$path-assets-url}/img";
$path-img-url-icons:                "#{$path-img-url}/icons";
/* Site Main Path Settings */

/* Site General Color Settings */
$site-clr-white:                      #FFFFFF;
$site-clr-black:                      #000000;
$site-clr-blue:                       #62ABFF;
$site-clr-blue-dark:                  #2A3553;
$site-clr-cyan:                       #26C8DD;
$site-clr-green:                      #70A800;
$site-clr-red:                        #B82C0D;
$site-clr-orange:                     #E67948;
$site-clr-yellow:                     #FF8C00;
/* Site General Color Settings */

/* Site Main Settings */
$site-font-family-gilroy-regular:     'gilroy-regular', sans-serif;
$site-font-family-gilroy-semibold:    'gilroy-semibold', sans-serif;
$site-font-family-gilroy-bold:        'gilroy-bold', sans-serif;
$site-font-family-default:            $site-font-family-gilroy-regular;
$site-font-size-base:                 1rem;
$site-font-clr-pri:                   #454545;
$site-font-clr-sec:                   #9099A0;
/* Site Main Color Settings */

/* Site Currency Color Settings */
$site-clr-curr-try:                   #D50032;
$site-clr-curr-usd:                   #4AA94E;
$site-clr-curr-eur:                   #004777;
$site-clr-curr-btc:                   #F7931A;
$site-clr-curr-eth:                   #637FEA;
$site-clr-curr-ltc:                   #A5A8A9;
$site-clr-curr-xrp:                   #23292F;
$site-clr-curr-mpay:                  #E8094A;
$site-clr-curr-bat:                   #F74E00;
$site-clr-curr-xlm:                   #232323;
$site-clr-curr-tryb:                  #002EAC;
$site-clr-curr-usdt:                  #2DD976;
$site-clr-curr-link:                  #2A5ADA;
$site-clr-curr-avax:                  #E04040;
$site-clr-curr-algo:                  #757575;
$site-clr-curr-ftm:                   #1969FF;
$site-clr-curr-dot:                   #262626;
$site-clr-curr-hot:                   #B748FF;
$site-clr-curr-mkr:                   #1AAB9B;
$site-clr-curr-aave:                  #B6509E;
$site-clr-curr-aave1:                 $site-clr-curr-aave;
$site-clr-curr-aave2:                 #2EBAC6;
/* Site Currency Color Settings */