
/* Site Main Path Settings */
$cache-busting:                     #{'?v='} + unique_id();
$path-assets-url:                   "../../../assets";
$path-fonts-url:                    "#{$path-assets-url}/fonts";
$path-img-url:                      "#{$path-assets-url}/img";
$path-img-url-icons:                "#{$path-img-url}/icons";
/* Site Main Path Settings */

/* Site General Color Settings */
$site-clr-white:                      #FFFFFF;
$site-clr-black:                      #000000;
$site-clr-blue:                       #62ABFF;
$site-clr-blue-dark:                  #2A3553;
$site-clr-cyan:                       #26C8DD;
$site-clr-green:                      #70A800;
$site-clr-red:                        #B82C0D;
$site-clr-orange:                     #E67948;
$site-clr-yellow:                     #FF8C00;
/* Site General Color Settings */



/* Site Main Settings */
$site-font-family-gilroy-regular:     'gilroy-regular', sans-serif;
$site-font-family-gilroy-semibold:    'gilroy-semibold', sans-serif;
$site-font-family-gilroy-bold:        'gilroy-bold', sans-serif;
$site-font-family-default:            $site-font-family-gilroy-regular;
$site-font-size-base:                 1rem;
$site-font-clr-pri:                   #454545;
$site-font-clr-sec:                   #9099A0;
/* Site Main Color Settings */