
.nftcardlisting{

  .cardlist{
    @include flexbox-display-flex();
    @include flexbox-flex-wrap(wrap);
    margin-left: -$grid-gutter-width * 0.25;
    margin-right: -$grid-gutter-width * 0.25;

    > li{
      //@include flexbox-flex(0 0 calc(100% / 6));
      //max-width: calc(100% / 6);
      width: 100%;
      padding-left: $grid-gutter-width * 0.25;
      padding-right: $grid-gutter-width * 0.25;
      padding-bottom: $grid-gutter-width * 0.5;
    }
  }

  .card{
    @include flexbox-display-flex();
    @include flexbox-flex-direction(column);
    height: 100%;
    @include border-radius($border-radius-lg);

    .dropzone,
    &-img{
      width: 100%;
      //height: 100%;
      height: 250px;
      @include border-radius($border-radius-sm);
      overflow: hidden;

      a{display: block;}

      img{
        width: 100%;
        max-width: inherit;
        //height: 100%;
        height: 250px;
        @include border-radius($border-radius-sm);
        @include object-fit(cover, center);
      }
    }

    &-head,
    &-foot{
      @include flexbox-display-flex();
      @include flexbox-flex-wrap(wrap);
      padding-top: 15px;
    }

    &-body{
      @include flexbox-flex(1 0 0%);
      width: 100%;
      text-align: left;
    }

    &-bttn{
      @include flexbox-flex(0 0 auto);
      width: auto;
      padding-left: 15px;
      text-align: right;

      .cardbtnlist{
        @include flexbox-display-flex();
        @include flexbox-flex-wrap(wrap);

        > li{
          padding-left: 5px;
          height: 22px;

          &:first-child{padding-left: 0;}
        }

        &-btn{
          background-color: transparent;
          padding: 0;
          margin: 0;

          &.active{
            i[class*="favorite"]{background-position: calc(-20px*1) 0;}
            i[class*="collection"]{background-position: calc(-20px*3) 0;}
          }
        }
      }

    }

    &-title{
      color: $site-font-clr-pri;
      font-family: $site-font-family-gilroy-semibold;
      @include font-size(1.125rem);

      a{
        color: $site-font-clr-pri;
        @include transition-multiple(color 0.15s ease-in-out);

        &:hover{
          color: $link-color;
        }
      }

      .badge{
        font-family: $site-font-family-gilroy-regular;
        vertical-align: text-top;
      }
    }

    &-desc{
      @include font-size(1rem);
    }

    .dropzone + .card-head{
      @include flexbox-flex(1);

      .card-body{
        @include flexbox-display-flex();
        @include flexbox-flex-direction(column);
        @include flexbox-justify-content(center);
        @include flexbox-align-items(center);
      }
    }


    &.cardstatus{

      .card-img{
        position: relative;

        &::before{
          content: "";
          background-color: transparent;
          width: 140px;
          height: 140px;
          position: absolute;
          top: -70px;
          right: -70px;
          @include rotate(45);
          //@include box-shadow(0 0 10px 0 transparentize($black, 0.25));
        }

        &:after{
          content: "";
          background-color: transparent;
          background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNy4yMTYiIGhlaWdodD0iMjEuOTkiIHZpZXdCb3g9IjAgMCAxNy4yMTYgMjEuOTkiPg0KICA8cGF0aCBpZD0ic2FuZF93YXRjaCIgZD0iTS0xMTkuNDg3LDI3Ljk2N2gwYTEyLjY2NywxMi42NjcsMCwwLDAtNC40ODItOC45NzdoMGEuNTkuNTksMCwwLDEtLjItLjQ0LjU5LjU5LDAsMCwxLC4yLS40NDMsMTIuNTYyLDEyLjU2MiwwLDAsMCw0LjQ3OC04Ljk4OGguMDA4YS43ODUuNzg1LDAsMCwwLC43ODUtLjc4NS43ODUuNzg1LDAsMCwwLS43ODUtLjc4NWgtMTUuNjM4YS43ODUuNzg1LDAsMCwwLS43ODUuNzg1Ljc4NS43ODUsMCwwLDAsLjc4NS43ODVoMGExMi41NjEsMTIuNTYxLDAsMCwwLDQuNDc4LDguOTg4LjU4Ni41ODYsMCwwLDEsLjIuNDQxLjU4Ny41ODcsMCwwLDEtLjIuNDQxLDEyLjY2MSwxMi42NjEsMCwwLDAtNC40OCw4Ljk3N2gtLjAwOWEuNzg1Ljc4NSwwLDAsMC0uNzg1Ljc4NS43ODUuNzg1LDAsMCwwLC43ODUuNzg1aDE1LjYzOWEuNzg1Ljc4NSwwLDAsMCwuNzg1LS43ODVBLjc4NS43ODUsMCwwLDAtMTE5LjQ4NywyNy45NjdabS0yLjE3LDBoLTExLjI5MWw1LjY0NS01LjY0NlptLTguNjYzLTEyLjQzOWg2LjAzNGwtMy4wMTcsMy4wMTdaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMzUuOTExIC03LjU0OCkiIGZpbGw9IiNmZmYiLz4NCjwvc3ZnPg0K");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          width: 24px;
          height: 24px;
          position: absolute;
        }
      }

    }

    &.statuspending .card-img{
      &::before{
        background-color: $yellow;
        box-shadow: 0 0 10px 0 transparentize($black, 0.25);
      }
      &:after{
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNy4yMTYiIGhlaWdodD0iMjEuOTkiIHZpZXdCb3g9IjAgMCAxNy4yMTYgMjEuOTkiPg0KICA8cGF0aCBpZD0ic2FuZF93YXRjaCIgZD0iTS0xMTkuNDg3LDI3Ljk2N2gwYTEyLjY2NywxMi42NjcsMCwwLDAtNC40ODItOC45NzdoMGEuNTkuNTksMCwwLDEtLjItLjQ0LjU5LjU5LDAsMCwxLC4yLS40NDMsMTIuNTYyLDEyLjU2MiwwLDAsMCw0LjQ3OC04Ljk4OGguMDA4YS43ODUuNzg1LDAsMCwwLC43ODUtLjc4NS43ODUuNzg1LDAsMCwwLS43ODUtLjc4NWgtMTUuNjM4YS43ODUuNzg1LDAsMCwwLS43ODUuNzg1Ljc4NS43ODUsMCwwLDAsLjc4NS43ODVoMGExMi41NjEsMTIuNTYxLDAsMCwwLDQuNDc4LDguOTg4LjU4Ni41ODYsMCwwLDEsLjIuNDQxLjU4Ny41ODcsMCwwLDEtLjIuNDQxLDEyLjY2MSwxMi42NjEsMCwwLDAtNC40OCw4Ljk3N2gtLjAwOWEuNzg1Ljc4NSwwLDAsMC0uNzg1Ljc4NS43ODUuNzg1LDAsMCwwLC43ODUuNzg1aDE1LjYzOWEuNzg1Ljc4NSwwLDAsMCwuNzg1LS43ODVBLjc4NS43ODUsMCwwLDAtMTE5LjQ4NywyNy45NjdabS0yLjE3LDBoLTExLjI5MWw1LjY0NS01LjY0NlptLTguNjYzLTEyLjQzOWg2LjAzNGwtMy4wMTcsMy4wMTdaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMzUuOTExIC03LjU0OCkiIGZpbGw9IiNmZmYiLz4NCjwvc3ZnPg0K");
        top: 20px;
        right: 20px;
      }
    }

    &.statuscheck .card-img{
      &::before{
        background-color: $success;
        box-shadow: 0 0 10px 0 transparentize($black, 0.25);
      }
      &:after{
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMi4xODciIGhlaWdodD0iMTQuODU4IiB2aWV3Qm94PSIwIDAgMjIuMTg3IDE0Ljg1OCI+DQogIDxwYXRoIGlkPSJDaGVjayIgZD0iTS03ODY2LjY3NywzNjk3LjcyOWw2LjEyOCw1Ljk4OCwxMC40LTEwLjAzIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3ODY5LjUwNSAtMzY5MC44NTgpIiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSI0Ii8+DQo8L3N2Zz4NCg==");
        top: 17px;
        right: 17px;
      }
    }
  }
}