
.home{

  &-trending{
    padding: 50px 0;

    .sitecontent{
      margin-bottom: 40px;
    }

    .trendingswiper{
      overflow: hidden;
      position: relative;
      z-index: 1;

      &-item{
        img{
          width: 100%;
        }
      }
    }

  }

}