.boxtitle{
  color: $site-font-clr-sec;
  font-family: $site-font-family-gilroy-regular;
  @include rfs($font-size-base);
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  $boxtitle: &;

  @include BootstrapMaxWidthResponsive(1k){}

  h1,h2,h3,h4,h5,h6{
    color: $site-font-clr-pri;
    font-family: $site-font-family-gilroy-semibold;
    font-weight: $font-weight-normal;
    margin: 0;
    position: relative;
  }

  h1{@include rfs(1.5rem);}
  h2{@include rfs(1.5rem);}
  h3{@include rfs(1.25rem);}
  h4{@include rfs(1.125rem);}
  h5{@include rfs(1rem);}
  h6{@include rfs(1rem);}

  &-left{text-align: left;}
  &-center{text-align: center; margin-left: auto; margin-right: auto;}
  &-right{text-align: right;}
  &-border{border-bottom: 1px solid $gray-400; padding-bottom: 15px;}
  &-icon{
    @include flexbox-display-flex();
    @include flexbox-flex-wrap(wrap);
    @include flexbox-align-items(center);

    i[class*="icon"]{margin-right: 8px;}
  }

  &-navtabs{
    .nav-tabs{
      padding-top: 3px;
      border-bottom: 1px solid $border-color;

      .nav-item{
        margin-right: 20px;

        &:last-child{margin-right: 0;}
      }

      .nav-link{
        color: $site-font-clr-sec;
        background-color: transparent;
        @include font-size(1.125rem);
        padding: 0 0 1rem;
        border: none;
        position: relative;

        &::after{
          content: "";
          background-color: transparent;
          width: 100%;
          height: 3px;
          position: absolute;
          left: 0;
          bottom: -1px;
        }

        &.active{
          color: $site-font-clr-pri;

          &::after{
            background-color: $primary;
          }
        }
      }
    }
  }

}

@media print{
  .boxtitle *{color: $site-font-clr-pri !important;}
}