.sitecontent{
  color: $site-font-clr-sec;
  font-family: $site-font-family-gilroy-regular;
  @include rfs($font-size-base);
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  $sitecontent: &;

  @include BootstrapMaxWidthResponsive(1k){}

  h1,h2,h3,h4,h5,h6{
    color: $site-font-clr-pri;
    font-family: $site-font-family-gilroy-semibold;
    font-weight: $font-weight-normal;
    margin: 0;
  }

  h1{@include rfs(2.5rem);}
  h2{@include rfs(2.5rem);}
  h3{@include rfs(1.50rem);}
  h4{@include rfs(1.25rem);}
  h5{@include rfs(1.125rem);}
  h6{@include rfs(1rem);}

  h1,h2,h3,h4,h5,h6,p{position: relative;}

  h1+p,h2+p,h3+p,h1+ul,h2+ul,h3+ul,h1+ol,h2+ol,h3+ol{margin-top: 10px;} h4+p,h5+p,h6+p,h4+ul,h5+ul,h6+ul,h4+ol,h5+ol,h6+ol{margin-top: 5px;}
  p+h1,p+h2,p+h3,p+h4,ul+h1,ul+h2,ul+h3,ul+h4{margin-top: 30px;} p+h5,p+h6,ul+h5,ul+h6{margin-top: 15px;}

  p+p,p+ul,p+ol,ul+p,ol+p{margin-top: 1rem;}
  p a, li a{color: $link-color;}

  &-left{text-align: left;}
  &-center{text-align: center; margin-left: auto; margin-right: auto;}
  &-right{text-align: right;}
  &-width500{max-width: 500px;}
  &-width600{max-width: 600px;}
  &-width700{max-width: 700px;}
  &-width800{max-width: 800px;}
  &-width900{max-width: 900px;}
  &-width1000{max-width: 1000px;}
  &-width1100{max-width: 1100px;}
  &-width1200{max-width: 1200px;}

  &-title{
    + #{$sitecontent}-desc{
      margin-top: 5px;
    }
  }

  &-desc{


    ul.ullistdotted{

      li{
        position: relative;
        padding-left: 15px;
        margin-top: 5px;

        &:first-child{margin-top: 0;}

        &::before{
          content: "";
          position: absolute;
          background-color: $primary;
          width: 8px;
          height: 8px;
          left: 0;
          top: 7px;
          @include border-radius($border-radius-pill);

          @include BootstrapMaxWidthResponsive(1k){
            top: 6px;
          }
          @include BootstrapMaxWidthResponsive(lg){
            top: 5px;
          }
        }
      }
    }
  }

}

@media print{
  .sitecontent,
  .sitecontent-title *,
  .sitecontent-desc *{color: $site-font-clr-pri !important;}
}