.icon{
  $iconclassname: &;

  &-btnssmclrd{
    background-image: url(#{$path-img-url-icons}/icons_spite_24_btnssmclrd.svg#{$cache-busting});
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    position: relative;

    &#{$iconclassname}-24{
      width: 24px;
      height: 24px;

      &#{$iconclassname}-eyeshow{background-position: calc(-24px*0) 0;}
      &#{$iconclassname}-eyehide{background-position: calc(-24px*1) 0;}
    }
  }

  &-usermenulinkssmclrd{
    background-image: url(#{$path-img-url-icons}/icons_spite_28_usermenulinkssmclrd.svg#{$cache-busting});
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    position: relative;

    &#{$iconclassname}-28{
      width: 28px;
      height: 28px;

      &#{$iconclassname}-mywallet{background-position: calc(-28px*0) 0;}
      &#{$iconclassname}-accountactivity{background-position: calc(-28px*1) 0;}
      &#{$iconclassname}-mynfts{background-position: calc(-28px*2) 0;}
      &#{$iconclassname}-setting{background-position: calc(-28px*3) 0;}
      &#{$iconclassname}-history{background-position: calc(-28px*4) 0;}
      &#{$iconclassname}-logout{background-position: calc(-28px*5) 0;}
    }
  }

  &-categorysmclrd{
    background-image: url(#{$path-img-url-icons}/icons_spite_30_categorysmclrd.svg#{$cache-busting});
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    position: relative;

    &#{$iconclassname}-30{
      width: 30px;
      height: 30px;

      &#{$iconclassname}-all{background-position: calc(-30px*0) 0;}
      &#{$iconclassname}-popular{background-position: calc(-30px*1) 0;}
      &#{$iconclassname}-photography{background-position: calc(-30px*2) 0;}
      &#{$iconclassname}-games{background-position: calc(-30px*3) 0;}
      &#{$iconclassname}-domains{background-position: calc(-30px*4) 0;}
      &#{$iconclassname}-music{background-position: calc(-30px*5) 0;}
      &#{$iconclassname}-sports{background-position: calc(-30px*6) 0;}
    }
  }

  &-iconsetsmclrd{
    background-image: url(#{$path-img-url-icons}/icons_spite_iconsetsmclrd.svg#{$cache-busting});
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    position: relative;

    &#{$iconclassname}-20{
      width: 20px;
      height: 20px;

      &#{$iconclassname}-favorite{background-position: calc(-20px*0) 0;}
      &#{$iconclassname}-favpassive{background-position: calc(-20px*0) 0;}
      &#{$iconclassname}-favactive{background-position: calc(-20px*1) 0;}
      &#{$iconclassname}-collection{background-position: calc(-20px*2) 0;}
      &#{$iconclassname}-colpassive{background-position: calc(-20px*2) 0;}
      &#{$iconclassname}-colactive{background-position: calc(-20px*3) 0;}
      &#{$iconclassname}-view{background-position: calc(-20px*4) 0;}
    }

    &#{$iconclassname}-24{
      width: 24px;
      height: 24px;

      &#{$iconclassname}-edit{background-position: calc(-24px*0) -20px;}
      &#{$iconclassname}-list{background-position: calc(-24px*1) -20px;}
    }

    &#{$iconclassname}-30{
      width: 30px;
      height: 30px;

      &#{$iconclassname}-filter{background-position: calc(-30px*0) -44px;}
    }
  }

  &-sprtsmcurrency{
    background-image: url(#{$path-img-url-icons}/icons_spite_16_currencysmallicon.svg#{$cache-busting});
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    position: relative;

    &#{$iconclassname}-16{
      width: 16px;
      height: 16px;

      &#{$iconclassname}-try{
        background-color: $site-clr-curr-try;
        background-position: calc(-16px*0) 0;
      }
      &#{$iconclassname}-usd{
        background-color: $site-clr-curr-usd;
        background-position: calc(-16px*1) 0;
      }
      &#{$iconclassname}-eur{
        background-color: $site-clr-curr-eur;
        background-position: calc(-16px*2) 0;
      }
      &#{$iconclassname}-tryb{
        background-color: $site-clr-curr-tryb;
        background-position: calc(-16px*3) 0;
      }
      &#{$iconclassname}-usdt{
        background-color: $site-clr-curr-usdt;
        background-position: calc(-16px*4) 0;
      }
      &#{$iconclassname}-btc{
        background-color: $site-clr-curr-btc;
        background-position: calc(-16px*5) 0;
      }
      &#{$iconclassname}-eth{
        background-color: $site-clr-curr-eth;
        background-position: calc(-16px*6) 0;
      }
      &#{$iconclassname}-xrp{
        background-color: $site-clr-curr-xrp;
        background-position: calc(-16px*7) 0;
      }
      &#{$iconclassname}-ltc{
        background-color: $site-clr-curr-ltc;
        background-position: calc(-16px*8) 0;
      }
      &#{$iconclassname}-xlm{
        background-color: $site-clr-curr-xlm;
        background-position: calc(-16px*9) 0;
      }
      &#{$iconclassname}-link{
        background-color: $site-clr-curr-link;
        background-position: calc(-16px*10) 0;
      }
      &#{$iconclassname}-dot{
        background-color: $site-clr-curr-dot;
        background-position: calc(-16px*11) 0;
      }
      &#{$iconclassname}-bat{
        background-color: $site-clr-curr-bat;
        background-position: calc(-16px*12) 0;
      }
      &#{$iconclassname}-algo{
        background-color: $site-clr-curr-algo;
        background-position: calc(-16px*13) 0;
      }
      &#{$iconclassname}-ftm{
        background-color: $site-clr-curr-ftm;
        background-position: calc(-16px*14) 0;
      }
      &#{$iconclassname}-avax{
        background-color: $site-clr-curr-avax;
        background-position: calc(-16px*15) 0;
      }
      &#{$iconclassname}-mpay{
        background-color: $site-clr-curr-mpay;
        background-position: calc(-16px*16) 0;
      }
      &#{$iconclassname}-hot{
        background-color: $site-clr-curr-hot;
        background-position: calc(-16px*17) 0;
      }
      &#{$iconclassname}-mkr{
        background-color: $site-clr-curr-mkr;
        background-position: calc(-16px*18) 0;
      }
      &#{$iconclassname}-aave{
        background-color: $site-clr-curr-aave;
        background-position: calc(-16px*19) 0;
      }
    }
  }

  &-sprtsocialmedia{
    background-image: url(#{$path-img-url-icons}/icons_spite_24_footer_social.svg#{$cache-busting});
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    position: relative;

    &#{$iconclassname}-24{
      width: 24px;
      height: 24px;

      &#{$iconclassname}-share{background-position: calc(-24px*0) 0;}
      &#{$iconclassname}-facebook{background-position: calc(-24px*1) 0;}
      &#{$iconclassname}-twitter{background-position: calc(-24px*2) 0;}
      &#{$iconclassname}-instagram{background-position: calc(-24px*3) 0;}
      &#{$iconclassname}-youtube{background-position: calc(-24px*4) 0;}
      &#{$iconclassname}-telegram{background-position: calc(-24px*5) 0;}
      &#{$iconclassname}-medium{background-position: calc(-24px*6) 0;}
      &#{$iconclassname}-linkedin{background-position: calc(-24px*7) 0;}
    }
  }
}