.icon{
  $iconclassname: &;

  &-sprtsmclrd{
    background-image: url(#{$path-img-url-icons}/xxx.svg#{$cache-busting});
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    position: relative;

    &#{$iconclassname}-14{
      width: 14px;
      height: 14px;

      &#{$iconclassname}-edit{background-position: calc(-14px*0) 0;}
    }
  }

  &-btnssmclrd{
    background-image: url(#{$path-img-url-icons}/icons_spite_24_btnssmclrd.svg#{$cache-busting});
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    position: relative;

    &#{$iconclassname}-24{
      width: 24px;
      height: 24px;

      &#{$iconclassname}-eyeshow{background-position: calc(-24px*0) 0;}
      &#{$iconclassname}-eyehide{background-position: calc(-24px*1) 0;}
    }
  }

  &-usermenulinkssmclrd{
    background-image: url(#{$path-img-url-icons}/icons_spite_28_usermenulinkssmclrd.svg#{$cache-busting});
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    position: relative;

    &#{$iconclassname}-28{
      width: 28px;
      height: 28px;

      &#{$iconclassname}-mywallet{background-position: calc(-28px*0) 0;}
      &#{$iconclassname}-accountactivity{background-position: calc(-28px*1) 0;}
      &#{$iconclassname}-mynfts{background-position: calc(-28px*2) 0;}
      &#{$iconclassname}-setting{background-position: calc(-28px*3) 0;}
      &#{$iconclassname}-history{background-position: calc(-28px*4) 0;}
      &#{$iconclassname}-logout{background-position: calc(-28px*5) 0;}
    }
  }

  &-categorysmclrd{
    background-image: url(#{$path-img-url-icons}/icons_spite_30_categorysmclrd.svg#{$cache-busting});
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    position: relative;

    &#{$iconclassname}-30{
      width: 30px;
      height: 30px;

      &#{$iconclassname}-filter{background-position: calc(-30px*0) 0;}
    }
  }

  &-sprtsocialmedia{
    background-image: url(#{$path-img-url-icons}/icons_spite_24_footer_social.svg#{$cache-busting});
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    position: relative;

    &#{$iconclassname}-24{
      width: 24px;
      height: 24px;

      &#{$iconclassname}-facebook{background-position: calc(-24px*0) 0;}
      &#{$iconclassname}-twitter{background-position: calc(-24px*1) 0;}
      &#{$iconclassname}-instagram{background-position: calc(-24px*2) 0;}
      &#{$iconclassname}-youtube{background-position: calc(-24px*3) 0;}
      &#{$iconclassname}-telegram{background-position: calc(-24px*4) 0;}
      &#{$iconclassname}-medium{background-position: calc(-24px*5) 0;}
      &#{$iconclassname}-linkedin{background-position: calc(-24px*6) 0;}
    }
  }
}