
.sidebar{
  background-color: $white;
  width: 100%;
  max-width: 380px;
  height: 100%;
  padding: 20px;
  @include border-radius($border-radius-lg);

  &-boxtitle{}

  &-divider{
    background-color: $gray-400;
    width: 100%;
    height: 1px;
    margin: $spacer * 1.5 0;
  }

  .elastic-navtabs{
    padding: 15px 0;
  }

  @include elasticnavtabs(2);

  .filter-price{

    .labelflex *{
      color: $site-font-clr-pri;
      font-family: $site-font-family-gilroy-semibold;
      margin-bottom: $spacer * 0.5;
    }

    .input-group{

      .form-control{
        background-color: $gray-200;
        border-color: $gray-200;
        text-align: center;
      }

      .input-group-text{
        background-color: $white;
        border-color: $white;
      }
    }
  }

  .filter-switch{

  }

}