
.main{
  padding: 50px 0;
  $mainclassname: &;

  @include BootstrapMaxWidthResponsive(1k){
    padding: 20px 0;
  }

  &-wrapper{
    @include flexbox-display-flex();
    @include flexbox-flex-wrap(wrap);

    #{$mainclassname}-sidebar{
      @include flexbox-flex(0 0 auto);
      width: auto;
      margin-right: $grid-gutter-width * 0.5;
    }

    #{$mainclassname}-article{
      @include flexbox-flex(1 0 0%);
      width: 100%;
    }
  }

  &-marketplace{
    padding: $grid-gutter-width * 0.5 0;
  }

}