
.footer{
  color: $site-clr-white;
  background-color: #3A3E50;
  padding: 60px 0;
  $footer: &;

  &-subscribe{

    .container{
      max-width: 630px;

      @include BootstrapMaxWidthResponsive(1k){
        max-width: 530px;
      }
    }

    &-title{
      text-align: center;
      margin-bottom: 20px;

      h5{
        @include font-size(1.875rem);
      }
    }

    &-form{

      .input-group{
        background-color: #1E212F;
        padding: 3px;
        @include border-radius($btn-border-radius * 1.25);

        .form-control:focus, .btn:focus{
          @include box-shadow(none);
        }

        .form-control{
          color: $white;
          background-color: #1E212F;
          border-color: #1E212F;
          @include border-radius($btn-border-radius);
        }

        @include placeholder{
          color: #9099A0;
        }

        .btn{
          color: #1E212F;
          min-width: 150px;
          @include border-radius($btn-border-radius !important);
        }
      }
    }
  }

  &-navigation{
    padding-top: 50px;

    &-list{
      @include flexbox-display-flex();
      @include flexbox-justify-content(center);

      .nav{
        @include flexbox-display-flex();
        @include flexbox-flex-direction(column);

        &-item{
          //@include flexbox-flex(0 0 calc(100% / 2));
          //max-width: calc(100% / 2);
        }

        &-link{
          color: $white;
          display: inline-block;
        }

        &:nth-of-type(1) .nav-item{
          text-align: right;
          position: relative;

          &::before{
            content: "";
            background-color: $blue;
            width: 6px;
            height: 6px;
            position: absolute;
            right: -3px;
            top: 50%;
            @include translateY(-50%);
            @include border-radius($border-radius-pill);
          }
        }
      }
    }
  }

  &-social{
    padding-top: 50px;

    .socialmedia{
      @include flexbox-display-flex();
      @include flexbox-flex-wrap(wrap);
      @include flexbox-align-items(center);
      @include flexbox-justify-content(center);

      > li{
        @include flexbox-flex(0 0 auto);
        width: auto;
        max-width: 100%;
        padding: 0 10px;
        position: relative;
      }

      &-item{
        position: relative;

        > i{
          display: block;
          @include scale(1.25);
        }
      }
    }
  }

}